body.popup-open {
  overflow: hidden;
}

.popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1099;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0,0,0,.5);
  transition: .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &-content {
    width: 94%;
    max-width: 600px;
    margin: 15% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
    box-shadow: 1px 1px 15px #000;
  }

  &.open &-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &-header, &-body, &-footer {
    padding: 15px 20px;
  }

  &-header {
    h3 {
      font-size: 32px;
    }
  }

  &-footer {
    text-align: right;
  }

  &-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    background: #c5c5c5;
    width: 28px;
    height: 28px;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #00479c;
      color: #fff;
      transition: inherit;
    }
  }
}